<div class="container-fluid bus_schedule">
<div class="container  w-50 busentryBox">
    <h1 class="header">BUS SCHEDULE</h1>
    <form (ngSubmit)="onsubmit()" >
        <div class="mb-1">
          <label for="bus">Bus name</label>
          <select class="form-select" (ngModelChange)="onbusname($event)" [(ngModel)]="bschedule.busId" name="busname"  aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option *ngFor="let value of allbusdetail" [value]="value.busId">{{value.busName}}</option>
          </select>
          </div>
          <div class="mb-1">
            <label for="bus">From</label>
            <select class="form-select" name="from" (ngModelChange)="changeOfOptions($event)"  [(ngModel)]="bschedule.from" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option  *ngFor="let val of specificBusdetail" [value]="val">{{val}}</option>
            </select>
            </div>
            <label for="bus">To</label>
            <div class="mb-1">
              <select class="form-select" name="from"  [(ngModel)]="bschedule.to" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option  *ngFor="let val of ToOptions"  [value]="val">{{val}}</option>
              </select>
              </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">DISTANCE</label>
            <input type="text" #distance="ngModel" name="distance" [(ngModel)]="bschedule.distance" class="form-control" id="exampleFormControlInput1" required placeholder="Distance">
            <div *ngIf="distance.errors?.['required']">
              <p class="error-msg">this field is required</p>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">DEPARTURE AREA</label>
            <input type="text" #dpArea="ngModel" name="departureArea" [(ngModel)]="bschedule.departureArea" class="form-control" id="exampleFormControlInput1" required placeholder="Departure Area">
            <div *ngIf="dpArea.errors?.['required']">
              <p class="error-msg">this field is required</p>
            </div>
          </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">STARTING TIME</label>
          <input type = "datetime-local" [min]="currentdate| date:'yyyy-MM-ddThh:mm'" [(ngModel)]="bschedule.startingTime" required  class="form-control" name = "startingtime">
          <p class="error-msg">*{{error}}</p> 
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">ENDING TIME</label>
          <input type = "datetime-local" [min]="currentdate| date:'yyyy-MM-ddThh:mm'"  [(ngModel)]="bschedule.reachTime" required class="form-control" name = "reachedtime"> 
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">FAIR PER SEATS</label>
            <input type="text" #fps="ngModel" name="fairPerSeat" [(ngModel)]="bschedule.fairPerSeat" class="form-control" required id="exampleFormControlInput1" placeholder="Fair">
            <div *ngIf="fps.errors?.['required']">
              <p class="error-msg">*this field is required</p>
            </div>
          </div>
          <button type="submit" class="btn btn-primary submit-btn">Submit</button>
    </form>
</div>
</div>

