 .card-body-sec div {
    font-size: 15px;
display: flex;
align-items: center;
justify-content: center;
}
.seat-count{
    display: inline;
}
.slash{
    font-size: 25px;
}
.avail-seat{
    color: rgb(0, 148, 0);
}
.booking-btn{
    position: relative;
width: 100%;
display: flex;
justify-content: center;
}
.bus-card:hover{
    transform: scale(1.005);
    box-shadow: 0 1rem 3rem rgba(128, 128, 128, 0.461);
}

.info-widget {
    width: 35%;
    display: inline-block;
    padding: 15px;
  }

  .middle {
    float: left;
    width: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
  }
 .bus-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .floating-btn{
    margin:0px 20px;
    background-color: rgb(223, 223, 223);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
 }
 .floating-btn:hover{
    transform: scale(1.1);
    background-color: rgb(218, 218, 218);
 }
 .buttonprofile
 {
    width:700px;
    display:flex;
    justify-content:space-between;
    margin-bottom:140px;
   
 }

 

/* Style for seat mapping */

.badge-primary {
    color: #fff;
    background-color: #a0a0a0;
    padding: 5px;
    margin: 0px 5px 5px 0px;
  }
  .seatrow {
    display: inline-flex;
  }
  .pricing-label {
    font-weight: bold;
    margin: 0px 0px 16px 16px;
    padding: 0;
    text-align: left;
    color: #a0a0a0;
    border-bottom: 1px solid #e2e2e2;
  }
  .seat-item {
    height: 27px;
    width: 27px;
    line-height: 25px;
    margin: 3px;
    border-radius: 7px;
    font-size: 14px;
    padding-left: 5px;
  }
  .seat-space {
    background-color: white;
    border: 0;
  }
  .seat-available {
    color: #a0a0a0;
    background-color: white;
    font-weight: bolder;
    border: 1px solid #a0a0a0;
  }
  .seat-available:hover {
    color: #a0a0a0;
    background-color: white;
    border: 1px solid #a0a0a0;
  }
  .seat-unavailable {
    color: white;
    background-color: black;
    font-weight: bolder;
    border: 1px solid white;
  }
  .seat-booked {
    color: white;
    font-weight: bolder;
    background-color: #a0a0a0;
    border: 1px solid white;
  }
  .seat-item:hover {
    cursor: pointer;
  }
  .seat-container {
    overflow-x: auto;
    padding: 5% 25%;
    overflow-y: hidden;
  }
  .seat-screen {
    background-color: gray;
    color: white;
    padding: 1%;
    text-align: center;
    font-weight: bolder;
  }
  .bookingbar {
    z-index: 1000;
    bottom: 0;
    position: fixed;
    background: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: inline-flex;
    width: 102%;
  }
  .bookingbar h5 {
    font-weight: bold;
  }
  .bookingbar .book-area {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .bookingbar .book-area button {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .total-amount {
    background-color: #F17924;
    color: white;
    cursor: pointer;
  }
  .row-label {
    color: black;
    background-color: white;
    min-width: 20px;
    font-weight: bolder;
    line-height: 32px;
  }
  .booking-summary {
    display: inline-flex;
  }
  .summary-bar {
    display: inline-flex;
    margin-top: 1%;
  }
  .no-padding {
    padding: 0;
  }
  