/* .card-block {
    min-height: 220px;
    text-align:center;
    margin:auto;
    padding:20px 0px;
 }
 .container-fluid
 {
    overflow-x: scroll;
   overflow-y: hidden;
   width:900px;
  
 
 }
 .card-body-sec div {

    font-size: 15px;

  display: flex;

  align-items: center;

}
 .businfo .btn
 {
    margin-right:20px;
 }
 .bustype
 {
    margin-left:40px;
    width:200px;
    padding:10px 5px;;
    background:rgba(0, 0, 255, 0.674);
    border-radius:20px 0px;
    text-align:center;
 } */
 .card-body-sec div {
    font-size: 15px;
display: flex;
align-items: center;
justify-content: center;
}
.seat-count{
    display: inline;
}
.slash{
    font-size: 25px;
}
.avail-seat{
    color: rgb(0, 148, 0);
}
.booking-btn{
    position: relative;
width: 100%;
display: flex;
justify-content: center;
}
.bus-card:hover{
    transform: scale(1.005);
    box-shadow: 0 1rem 3rem rgba(128, 128, 128, 0.461);
}

.info-widget {
    width: 35%;
    display: inline-block;
    padding: 15px;
  }

  .middle {
    float: left;
    width: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
  }
 .bus-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .floating-btn{
    margin:0px 20px;
    background-color: rgb(223, 223, 223);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
 }
 .floating-btn:hover{
    transform: scale(1.1);
    background-color: rgb(218, 218, 218);
 }
 .buttonprofile
 {
    width:700px;
    display:flex;
    justify-content:space-between;
    margin-bottom:140px;
   
 }
 /* .card-body-sec div {

    font-size: 15px;

  display: flex;

  align-items: center;

  justify-content: center;

}

.seat-count{

    display: inline;

}

.slash{

    font-size: 25px;

}

.avail-seat{

    color: rgb(0, 148, 0);

}

.booking-btn{

    position: relative;

   width: 100%;

   display: flex;

   justify-content: center;

}

.bus-card:hover{

    transform: scale(1.005);

    box-shadow: 0 1rem 3rem rgba(128, 128, 128, 0.461);

} */
 