
<div class="container-fluid bus-card-container ">
    <div  class="floating-btn" >
        <button class="btn" (click)="scrollLeft()"><i class="fa-solid fa-chevron-left"></i></button>
    </div>

    <div #widgetsContent class="middle">
        <div class="info-widget" *ngFor="let i of schedulelist">
            <div  class="card bus-card rounded border-2 mx-4" style="width: 20rem;">
                <div class="card-body">
                  <div >
                  <h5 class="card-title text-center">{{i.busName}}</h5>
                  
                  <h6 class="card-subtitle mb-1 text-center text-muted">{{i.mode}}</h6>
                  <div class="card-body-sec">
                    <div>
                        <p>{{i.from}}</p>
                        <p class="timings mx-1">({{i.startingTime | date:'shortTime'}})</p>
                        <p>
                            <i class="fa-solid fa-arrow-right-long mx-2"></i>
                        </p> 
                        <p>{{i.to}}</p> 
                        <p class="timings mx-1">({{i.reachTime | date:'shortTime'}})</p>  
                    </div>
                    <div class="seat-count">
                      
                    <p class="avail-seat">{{i.noOfSeats - i.bookedSeats}}(Avaliable Seats)</p> 
                        <p class="mx-2 slash">/</p>
                        <p class="text-muted ">{{i.noOfSeats}}(Total seats)</p>
                    </div>
                  </div>
                  <button (click)="toBeBooked(i)" class="btn btn-secondary booking-btn">Book-{{i.fairPerSeat}}</button>
                  </div>
                
                </div>
              </div>
        </div>
    </div>
    <div class="floating-btn">
        <button class="btn right-left-btn" (click)="scrollRight()"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    </div>





    